{%load staticfiles%}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Guía Granos Básicos</title>
  <!-- Bootstrap CSS -->
  <link href="/static/general/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/general/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/static/cacao.css" rel="stylesheet" type="text/css">
</head>

<body>
   <!-- <div class="bar-title">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <h3>Alianza CAC</h3>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                </div>
            </div>
        </div>
    </div>-->
    <nav class="navbar navbar-cacao" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Guía granos básicos</a>
            </div>


            <div class="collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/granos-basicos">Consulta</a></li>
                    <li><a href="/admin">Administración</a></li>
                    <!--<li><a href="/admin/logout"></a></li>-->

                </ul>
            </div>
        </div>
    </nav>


    {% block contenido %}{% endblock contenido %}


  <!-- jQuery -->
  <script src="/static/general/js/jQuery/jquery-2.1.1.min.js"></script>
  <script src="/static/general/js/jQuery/jquery-migrate-1.2.1.min.js"></script>

  <!-- Bootstrap -->
  <script src="/static/general/bootstrap/js/bootstrap.min.js"></script>
  <script src="{% static 'analisis/js/highcharts.js' %}"></script>
  <script src="{% static 'analisis/js/exporting.js' %}"></script>
  <script type="text/javascript">
    // var ficha = window.location.pathname.split('/');
    //
    // if (ficha[2]=="sombra") {
    //     $( "#sombra" ).addClass( "in" );
    //     $( "#poda" ).removeClass( "in" );
    // }else {
    //     $( "#poda" ).addClass( "in" );
    //     $( "#sombra" ).removeClass( "in" );
    // };
  </script>
  {% block extra_js %}{% endblock extra_js %}

</body>

</html>
