{% extends "base.html" %}

{% block contenido %}
<div class="container hola">
    <div class="title-consulta">
        <h4><i class="fa fa-filter" aria-hidden="true"></i> Filtro</h4>
    </div>
    <div class="filtro">
        <div class="row">
            <form  action="." method="POST"> {% csrf_token %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label for="">{{form.year.label}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            {{form.year}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label for="">{{form.rubro.label}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            {{form.rubro}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label for="">{{form.ciclo.label}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            {{form.ciclo}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label for="">{{form.municipio.label}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            {{form.municipio}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label for="">{{form.comunidad.label}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            {{form.comunidad}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <label for="">{{form.organizacion.label}}</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            {{form.organizacion}}
                        </div>
                    </div>
                </div>
                <input type="submit" value="Consultar" class="btn btn-form" name="Consulta"/>
            </form>
        </div>
    </div>
</div>
{% if centinela == 1%}
<style type="text/css">
    .hola{display: none}
</style>
<div class="container">
    <div class="indicadores">
        <div class="title-consulta">
            <h4><i class="fa fa-bars" aria-hidden="true"></i> Indicadores</h4>
        </div>
        <div class="enlaces">
            <div class="row">
                {% include "menu_salidas.html" %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="/static/granos_basicos/css/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="/static/granos_basicos/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
  $("select").addClass("form-control");
  $(document).ready(function() {

    $('#id_organizacion').multiselect({
        buttonWidth: '250px',
        includeSelectAllOption: true,
        selectAllText: 'Seleccionar todos',
        buttonText: function(options, select) {
                if (options.length === 0) {
                    return 'Sin selección ...';
                }
                else if (options.length > 3) {
                    return 'Varias opciones seleccionadas!';
                }
                 else {
                     var labels = [];
                     options.each(function() {
                         if ($(this).attr('label') !== undefined) {
                             labels.push($(this).attr('label'));
                         }
                         else {
                             labels.push($(this).html());
                         }
                     });
                     return labels.join(', ') + '';
                 }
            }
    });

      $('#id_municipio').multiselect({
          buttonWidth: '250px',
          includeSelectAllOption: true,
          selectAllText: 'Seleccionar todos',
          buttonText: function(options, select) {
                  if (options.length === 0) {
                      return 'Sin selección ...';
                  }
                  else if (options.length > 3) {
                      return 'Varias opciones seleccionadas!';
                  }
                   else {
                       var labels = [];
                       options.each(function() {
                           if ($(this).attr('label') !== undefined) {
                               labels.push($(this).attr('label'));
                           }
                           else {
                               labels.push($(this).html());
                           }
                       });
                       return labels.join(', ') + '';
                   }
              }
      });

      $('#id_comunidad').multiselect({
          enableCollapsibleOptGroups: true,
          buttonWidth: '250px',
          includeSelectAllOption: true,
          selectAllText: 'Seleccionar todos',
          buttonText: function(options, select) {
                  if (options.length === 0) {
                      return 'Sin selección ...';
                  }
                  else if (options.length > 3) {
                      return 'Varias opciones seleccionadas!';
                  }
                   else {
                       var labels = [];
                       options.each(function() {
                           if ($(this).attr('label') !== undefined) {
                               labels.push($(this).attr('label'));
                           }
                           else {
                               labels.push($(this).html());
                           }
                       });
                       return labels.join(', ') + '';
                   }
              }
      });
      $("#id_comunidad").multiselect('disable');

      var foo2 = [];
      $(document).on('change','#id_municipio',function(){
          $('#id_municipio :selected').each(function(i, selected){
              foo2[i] = $(selected).val();
          });
          $.getJSON('/granos-basicos/ajax/comunies/?ids='+foo2.join(","), function(data){
              var comunidad = $('#id_comunidad')
              comunidad.html('');
              comunidad.multiselect('enable');
              if(data){
                  $.each(data, function(i, item){
                    var group = $('<optgroup></optgroup>').attr('label', i);
                    $.each(item, function(j, item1){
                        group.append($('<option></option>').val(item1.id).html(item1.nombre));
                    });
                    group.appendTo(comunidad);
                    comunidad.multiselect('rebuild');
                  });
             }
         });
      });
    });
</script>
{% endblock %}
