{% extends "base.html" %}

{% block contenido %}
<style type="text/css">
#grafo1,#grafo2,#grafo3,#grafo4,#grafo5{
  border: 1px solid #eee;
}
.panel-graficos .panel-heading{
  margin-bottom:20px;
}
</style>
<div class="container-fluid">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    {% include "menu_salidas_indicadores.html" %}
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-default panel-graficos">
      <div class="panel-heading">
        <h3 class="panel-title">
          <ol class="breadcrumb">
            <li class="active">Monitoreos</li>
            <li class="active">Características de la parcela</li>
            <li class="active">Número de productores {{productores}}</li>
          </ol>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
              <div id="grafo1" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div id="grafo2" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div id="grafo3" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div id="grafo4" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="grafo5" style="min-width: 210px; width: 390px; margin: 0 auto;"></div>
          </div>
          <div class="col-md-6">
            <div id="grafo6" style="min-width: 210px; width: 390px; margin: 0 auto;"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$( "#monitoreo" ).addClass( "in" );

$(function () {
  $('#grafo1').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Edad parcela y profundidad capa arable'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Edad en años'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Profundidad capa arable (cm)'
            },
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{point.x} años, {point.y} cm'
                }
            }
        },
        series: [{
            name: 'parcela',
            color: 'rgba(223, 83, 83, .5)',
            data: [{% for x in lista_parcela %}
                      [{{x.0}},{{x.1}}],
                  {% endfor %}]

        }]
    });

    $('#grafo2').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: 'Distribución por edad de las parcelas'
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '{point.percentage:.2f}%',
            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
            style: {
              textShadow: '0 0 3px white'
            }
          },
          showInLegend: true
        }

      },
      series: [{
        name: "Porcentajes",
        colorByPoint: true,
        data: [
          {
            name: "< 5 años",
            y: {{menor_5}}
          },
          {
            name: "6-20 años",
            y: {{edad_6_20}}
          },
          {
            name: "> 20 años",
            y: {{mayor_20}}
          },


        ]
      }]
    });

  $('#grafo3').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Relación inclinación y capa arable (% área inclinado > 60%)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: '% inclinación inclinado'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Profundidad capa arable (cm)'
            },
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{point.x}%, {point.y} cm'
                }
            }
        },
        series: [{
            name: 'inclinación vs capa arable',
            color: 'rgba(223, 83, 83, .5)',
            data: [{% for value in lista_inclinado %}{% for x in value %}[{{x.0}},{{x.1}}],{% endfor %}{% endfor %}]

        }]
    });

    $('#grafo4').highcharts({
          chart: {
              type: 'scatter',
              zoomType: 'xy'
          },
          title: {
              text: 'Relación inclinación y capa arable (% área plano > 60%)'
          },
          xAxis: {
              title: {
                  enabled: true,
                  text: '% inclinación plano'
              },
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true
          },
          yAxis: {
              title: {
                  text: 'Profundidad capa arable (cm)'
              },
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              x: 100,
              y: 70,
              floating: true,
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
              borderWidth: 1
          },
          plotOptions: {
              scatter: {
                  marker: {
                      radius: 5,
                      states: {
                          hover: {
                              enabled: true,
                              lineColor: 'rgb(100,100,100)'
                          }
                      }
                  },
                  states: {
                      hover: {
                          marker: {
                              enabled: false
                          }
                      }
                  },
                  tooltip: {
                      pointFormat: '{point.x}%, {point.y} cm'
                  }
              }
          },
          series: [{
              name: 'inclinación vs capa arable',
              color: 'rgba(223, 83, 83, .5)',
              data: [{% for value in lista_plano %}{% for x in value %}[{{x.0}},{{x.1}}],{% endfor %}{% endfor %}]

          }]
      });

  $('#grafo5').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Parcelas que tienen acceso al agua'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '{point.percentage:.2f}%',
          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
          style: {
            textShadow: '0 0 3px white'
          }
        },
        showInLegend: true
      }

    },
    series: [{
      name: "Porcentajes",
      colorByPoint: true,
      data: [
        {% for x,y in acceso_agua.items %}
        {
          name: "{{x}}",
          y: {{y}}
        },
        {% endfor %}


      ]
    }]
  });

  $('#grafo6').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: 'Fuentes de agua'
    },
    yAxis: {
      title: {
        text: 'Valores'
      }
    },
    credits: {
      enabled: false
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Frecuencia (%)'
      }
    },
    tooltip: {
      formatter: function() {
        return ''+
        this.series.name +': '+ this.y +'%';
      }
    },
    series: [
      {% for k,v in fuente_agua.items %}
      {
        name: '{{k}}',
        data: [{{v}}],
        dataLabels: {
          enabled: true,
          rotation: 0,
          color: '#632D00',
          align: 'center',
          x: -3,
          y: 0,
          formatter: function() {
            return this.y + '%';
          },
        }
      },
      {% endfor %}
    ]
  });
});
</script>
{% endblock %}
