{% extends "base.html" %}

{% block contenido %}
<style type="text/css">
#grafo1,#grafo2{
  border: 1px solid #eee;
}
.panel-graficos .panel-heading{
  margin-bottom:20px;
}
</style>
<div class="container-fluid">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    {% include "menu_salidas_indicadores.html" %}
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-default panel-graficos">
      <div class="panel-heading">
        <h3 class="panel-title">
          <ol class="breadcrumb">
            <li class="active">Monitoreos</li>
            <li class="active">Uso del Suelo</li>
            <li class="active">Número de productores {{productores}}</li>
          </ol>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th></th>
                  <th>Número de familias</th>
                  <th>Total en mz</th>
                  <th>Porcentaje</th>
                  <th>Promedio</th>
                </tr>
              </thead>
              <tbody>
                {%for k,v in uso_suelo.items %}
                <tr>
                  <td>{{k}}</td>
                  {%for x in v %}
                  <td>{% if forloop.counter == 1 %}{{x|default:"0"}}{% else %}{{x|default:"0"|floatformat:"2"}}{% endif %}</td>
                  {%endfor%}
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th></th>
                  <th>Tamaño finca mz</th>
                  <th>Tamaño área de cultivos anuales</th>
                </tr>
              </thead>
              <tbody>
                {%for fila in result %}
                <tr>
                  {% if forloop.counter == 1 %}
                  <td>Promedio</td>
                  {% elif forloop.counter == 2 %}
                  <td>Mediana</td>
                  {% elif forloop.counter == 3 %}
                  <td>Desviación estandar</td>
                  {% elif forloop.counter == 4 %}
                  <td>Mínimo</td>
                  {% elif forloop.counter == 5 %}
                  <td>Máximo</td>
                  {% endif %}

                  {%for celda in fila %}
                  <td>{{celda|floatformat:"2"}}</td>
                  {%endfor%}
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div id="grafo1" style="min-width: 510px; width: 100%; margin: 0 auto;"></div>
          </div>
          <div class="col-md-4">
              <h4>Área de siembra</h4>
              <ul class="list-group">
                  <li class="list-group-item">
                      <b>Promedio:</b> {{promedio_area|floatformat:2}}
                  </li>
                  <li class="list-group-item">
                      <b>Mediana: </b>{{mediana_area|floatformat:"2"}}
                  </li>
                  <li class="list-group-item">
                      <b>Desviación estandar:</b> {{desviacion_area|floatformat:2}}
                  </li>
                  <li class="list-group-item">
                      <b>Rango mínimo:</b> {{minimo_area|floatformat:"2"}}
                  </li>
                  <li class="list-group-item">
                      <b>Rango máximo:</b> {{maximo_area|floatformat:"2"}}
                  </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$( "#monitoreo" ).addClass( "in" );

$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de área de siembra'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> del total<br/>'
        },

        series: [{
            name: 'Áreas',
            colorByPoint: true,
            data: [
            {
                name: ' < 1',
                y: {{menor_1}},
            }, {
                name: '1 - 2',
                y: {{entre_1_2}},
            }, {
                name: '2.1 - 3',
                y: {{entre_2_3}},
            }, {
                name: '3.1 - 4',
                y: {{entre_3_4}},
            }, {
                name: '4.1 - 5',
                y: {{entre_4_5}},
            }]
        }],
    });
});
</script>
{% endblock %}
